{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="p-3 my-2 bg-white rounded shadow-sm">
	<h4 class="mb-0">Calculator</h4>
	<small>Mini Web Based Calculator.</small>
</div>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.extra_tags }} alert-dismissible fade show message-alert" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
			aria-hidden="true">&times;</span></button>
	<span {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </span>
</div>
{% endfor %}
{% endif %}
<div class="my-1 p-2 bg-light rounded shadow-sm">
	<div class="row">
		<div class="col">
			<div class="card rounded shadow-sm">
				<div class="card-body align-items-center d-flex justify-content-center">
					<div class="container-sm my-1 p-2" style="background-color:rgba(137, 158, 189, 0.83);">
						<div class="form-input border-bottom p-1">
							<input type="text" class="form-control input-lg" id="expression" value="0" disabled
								style="text-align: right; ">
							<input type="text" class="form-control input-xs" id="result" value="0" disabled
								style="text-align: right; ">
						</div>
						<div class="container">
							<div class="row p-1">
								<div class="col-sm-3">
									<div class="btn btn-lg" style="background-color:rgb(238, 53, 53);">(</div>
								</div>
								<div class="col-sm-3">
									<div class="btn btn-lg" style="background-color:rgb(238, 53, 53);">)</div>
								</div>
								<div class="col-sm-3">
									<div class="btn btn-lg not" style="background-color:rgb(238, 53, 53);"
										id="allClear">AC
									</div>
								</div>
								<div class="col-sm-3">
									<div class="btn btn-lg not" style="background-color:rgb(238, 53, 53);" id="equals">=
									</div>
								</div>
							</div>
							<div class="row p-1">
								<div class="col-sm-3">
									<div class="btn btn-lg btn-secondary">1</div>
								</div>
								<div class="col-sm-3">
									<div class="btn btn-lg btn-secondary">2</div>
								</div>
								<div class="col-sm-3">
									<div class="btn btn-lg btn-secondary">3</div>
								</div>
								<div class="col-sm-3">
									<div class="btn btn-lg" style="background-color:orange;">+</div>
								</div>
							</div>
							<div class="row p-1">
								<div class="col-sm-3">
									<div class="btn btn-lg btn-secondary">4</div>
								</div>
								<div class="col-sm-3">
									<div class="btn btn-lg btn-secondary">5</div>
								</div>
								<div class="col-sm-3">
									<div class="btn btn-lg btn-secondary">6</div>
								</div>
								<div class="col-sm-3">
									<div class="btn btn-lg" style="background-color:orange;">-</div>
								</div>
							</div>
							<div class="row p-1">
								<div class="col-sm-3">
									<div class="btn btn-lg btn-secondary">7</div>
								</div>
								<div class="col-sm-3">
									<div class="btn btn-lg btn-secondary">8</div>
								</div>
								<div class="col-sm-3">
									<div class="btn btn-lg btn-secondary">9</div>
								</div>
								<div class="col-sm-3">
									<div class="btn btn-lg" style="background-color:orange;">*</div>
								</div>
							</div>
							<div class="row p-1">
								<div class="col-sm-3">
									<div class="btn btn-lg btn-secondary">0</div>
								</div>
								<div class="col-sm-3">
									<div class="btn btn-lg btn-secondary">.</div>
								</div>
								<div class="col-sm-3">
									<div class="btn btn-lg btn-secondary not" id="clear">
										BCK</div>
								</div>
								<div class="col-sm-3">
									<div class="btn btn-lg" style="background-color:orange;">/</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block js %}
<script src="{% static 'calculator/js/calc-logic-v1.js' %}"></script>
<script>$(document).ready(function () { setTimeout(function () { $('.message-alert').slideUp(); }, 2000) })</script>
{% endblock js %}
</div>